.wedding_card_wrapper {
	@apply w-full bg-zinc-200;
	@apply 2xl: (pt-40px pl-40px pr-20px pb-20px);
	@apply <2xl: (pt-30px pl-30px pr-10px pb-10px);
	@apply <md: (p-10px);
}

.wedding_cards {
	@apply w-full h-full;

	&>[class~='splide__track'] {
		@apply h-full overflow-visible;
		@apply md: ( !pr-20px pb-20px);
		@apply <md: ( !pr-10px pb-10px);

		&>[class~='splide__list'] {
			@apply h-full;

			&>[class~='splide__slide'] {
				@apply max-h-0px;
				@apply before: (_content absolute top-0 right-0 z-2 w-full h-full bg-white rounded-20px opacity-0 transform-gpu translate-x-0 translate-y-0 transition);
				@apply after: (_content absolute top-0 right-0 z-1 w-full h-full bg-white rounded-20px opacity-0 transform-gpu translate-x-10px translate-y-10px transition);

				&[class~='is-active'] {
					@apply max-h-none;
					@apply before: (opacity-80 translate-x-10px translate-y-10px);
					@apply after: (opacity-60 translate-x-20px translate-y-20px);

					.item_wedding_card {
						@apply translate-x-0 translate-y-0;
					}
				}
			}
		}
	}

	&>[class~='splide__arrows'] {
		@apply absolute left-0 w-full h-48px flexs-center;
		@apply md:bottom-40px;
		@apply <md:bottom-28px;

		[class~='splide__arrow'] {
			@apply static w-48px h-full rounded-6px shadow shadow-zinc-200 text-20px opacity-100 bg-teal-50 text-teal-400 transform-none;
			@apply hover: (bg-teal-100);

			&+[class~='splide__arrow'] {
				@apply ml-10px;
			}

			svg {
				@apply fill-current transform-none;
			}
		}
	}

	[class~='splide__pagination'] {
		@apply hidden;
	}

	.item_wedding_card {
		@apply relative z-3 w-full h-full flex flex-col bg-white rounded-20px shadow shadow-zinc-200 transform-gpu translate-x-10px translate-y-10px transition overflow-hidden;
		@apply before: (_content absolute -top-10px -left-10px z-1 w-full h-full bg-transparent bg-no-repeat opacity-30 animate-pulse);
		@apply after: (_content absolute -bottom-10px -right-10px z-2 w-full h-full bg-transparent bg-no-repeat opacity-30 animate-pulse);
		@apply 2xl: (p-40px pb-128px);
		@apply <2xl: (p-20px pb-88px);

		&:before,
		&:after {
			animation: wed_pulse 2.8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
		}

		&>* {
			@apply relative z-3;
		}

		&:before {
			@apply bg-left-top;
			background-image: url('/images/ornamen-wedding-top.svg');
		}

		&:after {
			@apply bg-right-bottom;
			background-image: url('/images/ornamen-wedding-bottom.svg');
		}

		.background_bridgegroom {
			@apply absolute z-1 w-400px transform-gpu opacity-20;

			&.background_bridgegroom__left {
				@apply bottom-60px left-0 -translate-x-1/2;
			}

			&.background_bridgegroom__right {
				@apply top-1/2 right-0 translate-x-1/2 -translate-y-1/2;
			}

			[class~='image-wrapper'] {
				@apply aspect-square;
			}

			img {
				@apply w-full h-full rounded-full;
			}
		}
	}

	.title_wedding_card {
		@apply fsize-lg text-center font-bold;
		@apply 2xl: (text-48px);
		@apply xl: (text-36px mb-28px);
		@apply @xl: (text-32px mb-20px);
	}
}

.caption_guest_book {
	@apply flexs !leading-relaxed font-semibold;
	@apply md: (text-16px);
	@apply <md: (text-14px flex-col items-start);

	.donate_guest_book {
		@apply flexs py-4px px-10px !leading-relaxed bg-teal-100 rounded-4px;
		@apply md: (text-14px ml-10px);
		@apply <md: (text-12px mt-4px);

		[class~='figure-image'] {
			@apply mr-10px;
		}

		.icon_donate {
			@apply w-auto;

			img {
				@apply w-auto h-16px min-h-0 rounded-0px;
			}
		}
	}
}

@keyframes wed_pulse {
	0%,
	100% {
		@apply opacity-30
	}

	50% {
		@apply opacity-10;
	}
}